// font
body{
  font-family:$font-noto,$font-Roboto;
  line-height: 1.5;
};

img{
  vertical-align: top;
};

.container{
  max-width: 1140px;
  margin: 0 auto;
  @include pad{
    max-width: 720px;
  }
  @include mobile{
    max-width: 575px;
  }
};
