.mb-1{
  margin-bottom: 8px;
}

.mb-3{
  margin-bottom: 24px;
}

.mr-8{
  margin-right: 64px;
}

/* text-type */
.fz-l{
  font-size: 48px;
  font-weight: bold;
}

.fz-m{
  font-size: 24px;
  font-weight: bold;
}

.fz-s{
  font-size: 20px;
}

.h2{
  color: $primary-dark;
  padding-top: 60px;
  margin-bottom: 48px;
  font-size: 48px;
  font-weight: bold;
}
@media (max-width:992px){
  .h2{
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
  }
}
@media (max-width:776px){
  .h2{
    padding-top: 32px;
    margin-bottom: 20px;
    font-size: 24px;
  }
}

h3{
  color: $primary-dark;
}

/* banner */
.banner{
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") no-repeat;
  background-size: cover;
  height: 840px;
  position: relative;
}

.banner-text{
  color: $primary-dark;
  position: absolute;
  top:41%;
  right: 21%;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.banner-text :first-child{
  font-size: 36px;
}

.banner-text :last-child{
  font-size: 64px;
  font-weight: bold;
}

@media (max-width:992px){
  .banner{
    background-position: -550px 0;
  }
  .banner-text{
    top: 45%;
    left: 0.9%;
  }
  .banner-text :first-child{
    font-size: 20px;
  }
  .banner-text :last-child{
    font-size: 48px;
    font-weight: bold;
  }
}
@media (max-width:767px){
  .banner{
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true") no-repeat;
    height: 394px;
    background-size: cover;
    position: relative;
  }
  .banner-text{
    top: 42%;
    left: 0.19%;
  }
  .banner-text :first-child{
    font-size: 16px;
  }
  .banner-text :last-child{
    font-size: 32px;
    font-weight: bold;
  }
}




/* intro */
.intro{
  background-color:RGBA(170, 6, 1,.05);
  text-align: center;
  padding-bottom: 80px;
}

.intro-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.intro-list li{
  width: 23%;
  margin-right: 0.02%;
}

.intro-list li img{
  width: 84px;
  height: 84px;
}

.intro-list li p{
  color:#000;
}
@media (max-width:992px){
  .intro{
    height:668px;
    padding-bottom: 40px;
  }
  .intro-list{
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .intro-list li{
    width: 41%;
  }
  .list-item{
    margin-bottom: 50px;
  }
}
@media (max-width:767px){
  .intro{
    height:1099px;
    padding-bottom: 56px;
  }
  .intro-list li{
    width: 100%;
    margin-right:0;
    margin-bottom: 40px;
  }
  .list-item{
    margin-bottom: 0;
  }
}



/* classic */
.classic{
  text-align: center;
}

.classic-box li{
  display: flex;
  margin-bottom: 32px;
}

.reverse{
  flex-direction: row-reverse;
}

.reverse img{
  width: 57%;
  margin-left: 32px;
}

.classic-box li img{
  height: 320px;
  width: 57%;
  margin-right: 32px;
}

.classic-text{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.reverse .classic-text{
  justify-content: flex-end;
}

.classic-icon{
  max-width: 32px;
  height: 32px;
  margin-right: 22px;
}

.classic-text p{
  display: block;
  color:#AA0601;
}

@media (max-width:992px){
  .classic{
    margin-bottom: 56px;
  }
  .reverse{
    flex-direction: row;
 }
 .reverse img{
    margin-left: 0;
  }
  .reverse .classic-text{
    justify-content: flex-start;
  }
  .classic-box li img{
    height: 168px;
  }
  .classic-box li{
    margin-bottom: 8px;
  }
  .classic-text p{
    font-size: 28px;
    line-height: 72px;
  }
  .classic-text .classic-icon{
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
}
@media (max-width:767px){
  .classic-box li{
    display: block;
    margin-bottom: 8px;  
  }
  .classic-box li{
    position: relative;
  }
  .classic-text{
    max-width: 180px;
    position: absolute;
    top: 20%;
    right: 35%;
  }
  .classic-text-first{
    right:30%;
  }
  .classic-box li img{
    width: 100%;
    height: 134px;
    margin-right: 0;
  }
}



/* co-branding */
.co-branding{
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true") no-repeat;
  background-position: 0px -700px;
  height: 705px;
  text-align: center;
}

.product-box h2{
  color:#fff;
}

.brand{
  display: flex;
  justify-content: space-between;
}

.brand li{
  max-width: 540px;
  height: 455px;
  background-color:#fff;
  position: relative;
}     

.brand-img{
  width: 100%;
  height: 100%;
  opacity: .5;
}

.brand-text{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 72px;
  font-weight: bold;
  color:#AA0601;
}

@media (max-width:992px){
  .co-branding{
    background-position: 0px -200px;
    background-size: cover;
    height: 452px;
  }
  .brand li{
    max-width: 330px;
    height: 278px;
  }
  .brand :first-child{
     margin-right: 30px;
   }
  .brand-text{
    font-size: 32px;
    line-height: 25px;
  }
}
@media (max-width:767px){
 .co-branding{
   height: 719px;
   background-size: cover;    background-position: 0 0;
 }
  .brand{
   flex-direction: column;
 }
 .brand li{
    max-width: 345px;
    height: 291px;
    margin: 0;
 }
  .brand :first-child{
    margin-right: 0;
    margin-bottom: 16px;
  }
}




/* recommend */
.recommend{
  margin-bottom: 80px;
  text-align: center;
}

.rec-box{
  display: flex;
  justify-content: space-between;
}

.rec-card{
  height: 460px;
  width: 255px;
  color:#000;
  border-radius: 4px;
  border:1px solid #DEE2E6;
  box-shadow:rgba(0,0,0,.05) 0 2px 6px ;
  position: relative;
  text-align: left;
}

.rec-card img{
  width: 100%;
  height: 256px;
  margin-bottom: 16px;
  border-radius: 4px 0;
}

.guest-name{
  font-size: 14px;
  margin-bottom: 8px;
}

.rec-text{
  padding: 0 16px;
}

.rec-date{
  color:#707070;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

@media (max-width:992px){
  .recommend{
    margin-bottom: 56px;
  }
  .rec-box{
    flex-wrap: wrap;
    text-align: left;
  }
  .rec-card{
    width: 330px;
  }
  .rec-card-up{
    margin-bottom: 32px;
  }
}
@media (max-width:767px){
  .rec-card{
    margin-bottom: 16px;
  }
}




/* contact */
.contactUs{
  background-color:RGBA(170, 6, 1,.05);
  color:#000;
  padding-bottom: 80px;
}

.wrap{
  max-width: 730px;
  margin: 0 auto;
}

.contact-box h2{
  text-align: center;
}

.con-text{
  margin-bottom: 20px;
}

.form-box input{
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  background-color:RGBA(170, 6, 1,.0);
  box-shadow: none;
  margin-bottom: 16px;
  padding-left: 16px;
}

input::placeholder{
  color:#000;
  opacity: .2;
  padding: 12px 0 14px 0;
}

.big-input{
  padding-bottom: 100px;
  padding-top: 16px;
}

.checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.checkbox span{
  display: inline-block;
  line-height: 24px;
}

.button{
  display: block;
  margin: 0 auto;
  background-color:#AA0601;
  color:#fff;
  width: 350px;
  height: 54px;
  border: none;
}

.button:hover{
  background-color:#650300;
}

@media (max-width:992px){
  .wrap{
    max-width: 450px;
  }
  .contact-box h2{
    margin-bottom: 24px;
  }
  .con-text{
    margin-bottom: 16px;
  }
  .checkbox{
    align-items: flex-start;
  }
  .checkbox span{
    font-size: 14px;
  }
  .big-input{
    padding-bottom: 84px;
    padding-top: 16px;
  }
  .button{
    width: 210px;
    height: 40px;
  }
}
@media (max-width:767px){
  .wrap{
    max-width: 345px;
  }
  .button{
    width: 165px;
    height: 36px;
  }
}
