.header{
  padding: 30px 88px;
  background-color:$primary;
  @include flexJcsb;
  @include pad{
    padding: 30px 39px;
  }
  @include mobile{
    @include flexWrap;
    padding: 0;
  }
  .logo{
    // 讓LOGO獨佔一行
    @include mobile{
      width: 100%;
    }
    a{
      background-size: contain;
      background-repeat: no-repeat;
      width: 80px;
      height: 49px;
      @include replaceText('./assets/images/logo-new_工作區域\ 1.png');
      @include mobile{
        width: 48px;
        height: 30px;
        margin: 10px auto;
      }
    }
  }
 .nav{
    @include mobile{
      width: 100%;
    }
  }
  .navBox{
    font-size: $font-size-md;
    @include mobile{
      @include flexWrap;
      text-align: center;
    }
    // li前三個要有右邊 margin
    .navItem-mr{
      margin-right: $mr-lg-8;
    }
    .navItem-mr,.navItem-mr-sm{
      @include mobile{
        margin-right: $mr-sm-0;
        width: 50%;
        border: 1px solid #fff;
      }
    }
  }
}


.footer{
  padding: 32px 15px;
  background-color:$primary;
  color:white;
  @include mobile{
    padding: 24px 15px;
  }
  .footerBox{
    @include mobile{
      position: relative;
    }
    .footerNav{
      @include mobile{
        padding-bottom: $mg-6;
        border-bottom: 1px solid #fff;
      }
      .navBox{
        @include mobile{
          display: none;
        }
      }
    }
    .sns{
      display: flex;
      @include mobile{
        width: 100%;
        justify-content: flex-end;
      }
      img{
        @include pad{
          width: 24px;
        }
     } 
    } 
    .contact{
      font-size: $h4;
      border-bottom: 1px solid #fff;
      @include mobile{
        border: none;
        font-size: $font-size-base;
        position: absolute;
        top: 0;
        left: 0;
      }
      .far,.fas{
        margin-bottom: $mg-3;
        @include mobile{
          width: 15px;
          margin-bottom: 0;
        }
      }
      .h4{
        display: inline-block;
      }
    }

    .bottomInfo{
      @include flexJcsb;
      @include mobile{
        display: block;
        margin-top: $mg-3;
      }
      .copyright{
        margin-bottom: $mg-1;
      }
    }
    .info{
      @include pad{
        font-size: $font-size-sm;
      }
      @include mobile{
        display: block; 
      }
      & :first-child{
        margin-right: $mg-6;
      }
   }
  }
}