// media
@mixin pad {
  @media(max-width:992px){
    @content
  }
};

@mixin mobile {
  @media(max-width:767px){
    @content
  }
};

// 圖片取代文字
@mixin replaceText{
  background-image:url("../images/logo-new_工作區域1.png");
  display: block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
};

// flex
@mixin flexJcsb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}