// flex
.flexJcsb{
  @include flexJcsb
}

.navBox{
  @include flexJcsb;
  a{
    color:white;
  }
}

.mainTitle{
  font-size: $h2;
  font-weight: bold;
  margin-top: 96px;
  padding-left: 16px;
  border-left: 8px solid $primary;
  @include mobile{
    font-size: $font-size-xl;
    margin-top: 28px;
  }
}